body {
  font-family: Raleway;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}


p{
  margin:3px 0 0 0;
}

h3{
  margin: 5px 0px;
}
h4{
  margin:5px;
}
.header {
  width: 98%;
  margin: 0 auto;
}

.nav-box {
  display: flex;
  margin-bottom: 0;
}


.logo {
 padding-left: 15px;
  width: 70%;
}

.logo img {
  padding-top: 1.8%;
  height: 35px;
}

.nav-box ul {
  list-style: none;
  display: flex;
}

.nav-box ul li {
  padding: 25px 10px 0 10px;
  text-align: center;
  width: 120px;
  height: 40px;
}

.nav-box ul li:hover {
  border-top: 3px solid #0065FC;
  color: #0065FC;
}
.nav-box ul li a:hover {
  color: #0065FC;
}

form{
  margin: 0;
  width: 100%;
  padding-left: 15px;
}

.search-box {
  width: 95%;
}
  

.search-head{
  height: 60px;
  width: 92%;
}
.search-body{
  width: 90%;
  padding: 10px 2px;
  height: 40px;
  display: flex;
}


.search-input input{
  width: 180px; 
  height: 40px;
  border-radius:0px;
  padding-left: 20px;
  border:1px solid #F2F2F2;
  font-weight: bold;
}
.search-input input:hover{
  background-color: #F2F2F2;

}
.search-pin {
  background-color: #F2F2F2;
  color: black;
  padding-top: 10px;
  width: 35px;
  text-align: center;
  font-size: 8px;
  border-radius: 12px 0px 0px 12px;
}
.search-button {
  background-color: #0065FC;
  color: white;
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px 20px;
  border: none;
}
.search-icon{
  display: none;
}

.filters{
  display: flex;
}

.filters-header{
  padding: 14px 0 14px 14px;
}
.filters-body {
  padding: 10px 0;
  width: 100%;
display: flex;
}
.filter-box{
  min-width: 110px;
  border: 1px solid #ccc;
  border-radius:25px ;
  height: 30px;
  display: flex;
  margin-left: 20px;
}
.filter-box:hover{
  border: 1px solid #DEEBFF;
  background-color:#DEEBFF ;
}
.filter-box div{
  text-align: center;
  padding-top: 8px;
  min-width: 50px;
  display: block;
  font-weight: bold;
  margin: 0 10px;
}


.filter-box .fas{
  background-color: #DEEBFF;
  color: #0065FC;
  height: 21px;
  width: 35px;
  border-radius: 15px;
  padding-top: 10px;
  text-align: center;
}
.filter-footer{ 
  margin-top: 10px;
  display: flex;
}
  .footer-icon{  
    width:15px ;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    color: #0065FC;
    font-size: 8px;
    vertical-align: middle;
    padding-top: 3px;
    margin: 3px; }

    .footer-text{
      max-width:23% ;
    }

input:hover {
  background-color: #DEEBFF;
}
 



.main {
  
  width: 98%;
  margin: 0 auto;
  display: block;
}

.accommodations {

  padding: 1%;
  display: flex;
}

.accommodation-list {
  border-radius: 15px;
  background-color: #F2F2F2;
  min-height: 250px;
  width: 70%;
  margin-right: 25px;
  padding-left: 2%;
}

.accommodation-title {
  width: 98%;  
  margin:25px 0 20px 10px;
}

.accommodation-boxes {
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accommodation-box {
  background-color: white;
  border-radius: 15px;
  width: 30%;
  height: 180px;
  padding: 4px;
  margin-bottom: 4%;
  box-shadow: 2px 2px 10px grey;   
}
.accommodation-picture{
  width:100%;
  height:65%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

#carnebiere {
  background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#du-port {
  background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mouettes {
  background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#de-la-mer {
  background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#le-panier {
  background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#amina {
  background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.accommodation-description {
  
  
  padding: 2%;
}
.accommodation-description i{
  font-size: 10px;
}

.accommodation-footer {
  padding: 2%;
}


.most-popular {
  border-radius: 10px;
  padding: 0px 2%;
  background-color: #F2F2F2;
  min-height: 200px;
  width: 29%;
  flex-wrap: wrap;
  justify-content: space-around;
   
}

.most-popular-title {
  margin:25px 0 5px 0;
  display: flex;
  max-width: 95%;
 
  white-space: nowrap;
 
}
.most-popular-title h2{
  width: 95%;}
 

.most-popular-box {
  background-color: white;
  border-radius: 15px;
  margin: 20px 0px 30px 0px;
  width: 95%;   
  display: flex;
  text-align: left;
  box-shadow: 2px 2px 10px grey; 
}
.picture{
  width: 45%;
  height: 120px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin:5px;
   
}
.m-title{
   
  height: 40px;
}
.m-desc{
  
  height: 50px;
}



#morning-sun {
  background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#au-coeur {
  background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tout-bleu {
  background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.most-popular-box>.description {
  padding: 0.7vw;
  height: 70%;
  width: 70%;
  text-align: left;
}

.fa-star {
  
  background-color: white;
  color: #0065FC;
  border: 0.5vw;
  position: static;
}

.greystar {
  color: grey;
}



.activities {
  min-height: 300px;
  padding-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

.activities-title {
  margin: 4% 1% 1% 1%;
  padding-left: 2vw;
  width: 100%;
  max-height: 35px;
}

.activity-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

.activity-box {
  border-radius: 13px;
  padding-bottom: 1px;
  margin: 1vw 1.7vw;
  width: 20vw;
  height: 30vw;
  display: inline-block;
  
  box-shadow: 2px 2px 10px grey; 
}


.activity-box>.activity-box {
  border-radius: 13px;
  margin: 0px 1px 1vw 0px;
  width: 100%;
  height: 45%;
  overflow: visible;
}
.activity-parent{
  border-color: white;
  box-shadow: none;
}
.activity-boxes h4{
  padding: 15px 0 0 7px;
}

#col-1 .activity-box:nth-child(1) {
  margin-bottom:14%;
  height: 50%;
}
#col-1 .activity-box:nth-child(2) {
  margin-bottom:20px;
  height: 40%;
}

#col-2 .activity-box:nth-child(1) {
  margin-bottom:14%;
  height: 45%;
}
#col-2 .activity-box:nth-child(2) {
  margin-bottom:20px;
  height: 45%;
}
#old-port {
  background-image: url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 85%;
  padding: 1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#calanques {
  background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 85%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pomegues {
  background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 74%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#frioul {
  background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 64%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#notre-dame {
  background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 72%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#longchamp {
  background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 69%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer {
  background-color: #F2F2F2;
  height: 170px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer-box {
  padding: 3%;
  width: 30%;
  text-align: left;
}

.footer-box ul {
  list-style: none;
}
.footer-box ul li{
  margin-bottom: 12px;
}

@media all and (max-width: 321px) {
  .header {
    
    width: 100%;}
  .nav-box {
    flex-wrap: wrap;
  }

  body {
    margin: 0px;
  }


  .logo{
    width: 80%;
   padding: 0% 26% 0% 40%;
  }
  .nav{
    min-width: 100%;
  }
  .nav-box ul li{
    padding-top: 15px;
    height: 30px;
    width: 50%;
    margin-bottom: 5px;
    border-bottom: 3px solid #F2F2F2;
  }
  .nav-box ul li:hover {
    border-top: none;
    border-bottom: 1px solid #0065FC;
    color: #0065FC;
  }

  .search{
    justify-content: space-around;
  }
  
  .search-head{
    width: 85%;
    height: auto;
    padding: 5px;  
  }
  .search-body{
    padding: 10px 0 10px 2px;
    max-height: 40px;
    display: flex;
  }
  .search-input{
    width: 35%;
    min-width: 140px;
    max-width: 180px;
  }
  .search-input input{
    width: 100%;
  }
  .search-txt{
    display: none;
  }
.search-icon{
  display: block;
}

  .filters{
    display: flex;
    flex-wrap: wrap;
    padding-left: 7px;
  }


  .filter-box .fas {
    background-color: #DEEBFF;
    color: #0065FC;
    height: 30px;
    width: 38px;
    border-radius: 30px;
    padding-top: 10px;
    text-align: center;
}
  
  .filters-header{
    padding: 14px 0 5px 14px;
    width: 100%;
  }
  .filters-body {
    padding-top: 0;
    display: flex;
  flex-wrap: wrap;
  }
  .filter-box{
    margin: 5px;
    height: 40px
  }

  .filter-box:nth-child(4){
   margin-right: 30%;
   padding-right: 22px;
  }
  .filter-box:nth-child(3){
    padding-right: 13px;
   }
  .filter-box:nth-child(2){
   margin-right: 48%;
  }
  .filter-box:nth-of-type(1){
  order: 1;
  }
  .filter-box:nth-of-type(3){
    order: 2;
    }
    .filter-box:nth-of-type(2){
      order: 3;
      }
      .filter-box:nth-of-type(4){
        order: 4;
        }

  .filter-footer{
    width: 100%;
    padding-left: 4px;
  }
  .footer-text{
    max-width: 60%;
  }

    
      
.main {  
width: 100%;}
.accommodations {
  padding: 1%;
  display: flex;
  flex-wrap: wrap-reverse;
}

.most-popular {
  border-radius: 0px;
  padding: 0px 2%;
  min-height: 200px;
  width: 100%;   
}

.accommodation-list {
  border-radius: 0px;
  background-color: white;
  min-height: 250px;
  width: 100%;
  margin-right: 0px;
  padding-left: 2%;
}

.accommodation-box {
    width: 98%;
  height: 175px;
  padding: 6px;
  margin-bottom: 3%;
  box-shadow: 2px 2px 10px grey;   
}
.accommodation-picture{
  width:99%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 2px;
}
.accommodation-box:hover{
  background-color: #F2F2F2;
  width: 100%;
  height: 180px;
} 
.activity-box{
  width: 98%;
  height: 175px;
  margin-bottom: 16px;
}

.activity-boxes h4{
  padding: 7px;
}
#col-1 .activity-box:nth-child(2) {
  
  height: 170px;
}
#col-1 .activity-box:nth-child(1) {
  margin-bottom:20px;
  height: 170px;
}
#col-2 .activity-box:nth-child(2) {
  margin-bottom:20px;
  height: 170px;
}
#col-2 .activity-box:nth-child(1) {
  margin-bottom:20px;
  height: 170px;
}



.activity-parent{
  height: 370px;

}

#old-port {
  height: 75%;
}

#calanques {
  height: 75%;
}

#pomegues {
  height: 75%;
}

#frioul {
  height: 75%;
}

#notre-dame {
  height: 75%;
}

#longchamp {
  height: 75%;
}


.footer {
  
  height: auto;
  width: 100%;
  display: flex;
 flex-wrap: wrap;
}

.footer-box {
  padding: 3%;
  width: 100%;
  text-align: left;
  padding-left: 5%;
}

}


@media all and (min-width: 768px) and (max-width: 995px){
  .header {
    
    width: 100%;}
  .nav-box {
    flex-wrap: wrap;
  }

  body {
      margin: 0px
  };
  
  
  .logo{
     
    width: 90%;
   padding: 0% 30% 0% 42%;
  }
  .nav{
    min-width: 100%;
  }
  .nav-box ul li{
    padding-top: 15px;
    height: 30px;
    width: 50%;
    margin-bottom: 5px;
    border-bottom: 3px solid #F2F2F2;
  }
  .nav-box ul li:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
  }

  .main {  
    width: 100%;}
    .accommodations {
      padding: 1%;
      display: flex;
      flex-wrap: wrap-reverse;
    }
    
    .most-popular {
      border-radius: 0px;
      padding: 0px 2%;
      min-height: 200px;
      width: 100%;   
      display: flex;
    }
    
    .accommodation-list {
      border-radius: 0px;
      background-color: white;
      min-height: 250px;
      width: 100%;
      margin-right: 0px;
      padding-left: 2%;
    }

    .most-popular-title{
      max-width: 100%;
      min-width: 95%;
      margin-left: 2%;
    }
     
    
    .most-popular-box {
      width: 45%;  
      height: 200px; 
      display: flex;
      
      text-align: left;
      
    }
    .most-popular-box:nth-child(2){
      min-width: 90%;
      height: 220px;
    }
    .most-popular-box:nth-child(2) .picture{
      min-width: 70%;
      height: 210px;
          }


    .picture{
      min-width: 60%;
      height: 190px;
    }
    
    .m-title{
       
      height: 40px;
    }
    .m-desc{
      
      height: 50px;
    }
    
     .most-popular-box:nth-child(2):hover {
      width: 92%;    
    } 
     .most-popular-box:hover{
       width: 46%;
     }
     .most-popular-box>.description {
      text-align: center;
    }

    .accommodation-box {
     
      width: 31%;
      height: 230px;
    }
    .accommodation-box:hover{
      width: 31.5%;
      height: 233px;
    } 

    .activity-box{
      width: 46%;
      height: 300px;
      }
      .activity-box:nth-child(3){
        margin-top: 10px;
      }
    
    .activity-boxes h4{
      padding: 7px;
    }
    
    
    
    .activity-parent{
      height: 300px;
    
    }
    
    .activity-box>.activity-box {
       width: 100%;
       height: 48%;
       }



    .accommodation-boxes {
        padding-right: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
       

       #col-1 .activity-box:nth-child(1) {
        margin-bottom:5%;
        height: 46%;
      }
      #col-1 .activity-box:nth-child(2) {
        margin-bottom:5%;
        height: 46%;
      }
      
      #col-2 .activity-box:nth-child(1) {
        margin-bottom:5%;        
        
        height: 46%;
      }
      #col-2 .activity-box:nth-child(2) {
        margin-bottom:5%;
        height: 46%;
        
      }
      

    #old-port {
      height: 88%;
    }
    
    #calanques {
      height: 88%;
    }
    #frioul{
      height: 75%;
    }
    #longchapm{
      height: 80%;
    }
    
    
    
}